<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include partials/customstyles/style.ejs %>
  </head>
  <body>
    <% include partials/header/nav.ejs  %>
    <h1 class="head-intro">Life Organic Wellness</h1>

    <% include partials/header/header.ejs  %>
    <% include partials/layout.ejs  %>
  </body>
</html>
